<div id="app-container">
  <div class="left-side-container">
    <h3>Current List</h3>
    <ol class="tasks-container">
      <li>Task 1</li>
      <li>Task 2</li>
      <li>Task 3</li>
    </ol>
  </div>
  <div class="right-side-container">
    <div class="lists-container">
      <add-list class="add-list" lists="$ctrl.lists"><h5><em>addList</em> component goes here</h5></add-list>
      <task-list lists="$ctrl.lists"><h5><em>taskList</em> component goes here</h5></task-list>
    </div>
  </div>
</div>