<!-- <div id="app-container"> -->
    <div class="left-column">
      <task-list lists="$ctrl.lists"><h5><em>taskList</em> component goes here</h5></task-list>
      <!-- <add-list  lists="$ctrl.lists"><h5><em>addList</em> component goes here</h5></add-list> -->
    </div>
    <div class="right-column">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio in, officiis modi porro voluptatem iste dolorem quisquam, dolores saepe asperiores perferendis reiciendis ex. Commodi, provident? Explicabo fuga iure magni architecto?
    </div>


<!-- </div> -->