
<li ng-if="!$ctrl.task.editing" class="task-list-entry media">
  <div class="media-body">
    <div class="single-task" ng-dblclick="$ctrl.toggleEdit($ctrl.list)">{{$ctrl.list.list}}</div>
    <div ng-repeat="task in $ctrl.list.tasks track by list._id">{{$ctrl.list.tasks}}</div>
    <div class="btn" ng-click="$ctrl.deleteList($ctrl.list)"><img src="/images/icon_check.svg"/></div>
  </div>
</li>

<li ng-if="$ctrl.list.editing" class="task-list-entry media">
  <div class="media-body">
    <input ngclass="form-control" type="text" ng-model="$ctrl.list.list" />
    <input ngclass="form-control" type="text" ng-model="$ctrl.list.tasks" />
    <div class="btn" ng-click="$ctrl.updateList($ctrl.list)"><img src="/images/icon_check.svg"/></div>
  </div>
</li>