<li ng-if="!$ctrl.task.editing" class="task-list-entry media">
  <div class="media-body">
    <div class="single-task" ng-click="$ctrl.toggleEdit($ctrl.task)">{{$ctrl.task.task}}</div>
    <div class="btn" ng-click="$ctrl.deleteTask($ctrl.task)"><img src="/images/icon_close.svg"/></div>
  </div>
</li>

<li ng-if="$ctrl.task.editing" class="task-list-entry media">
  <div class="media-body">
    <input ngclass="form-control" type="text" ng-model="$ctrl.task.task" />
    <div class="btn" ng-click="$ctrl.updateTask($ctrl.task)"><img src="/images/icon_check.svg"/></div>
  </div>
</li>