* {
  border: 2px solid black;
}

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  font-family: "Open Sans";
  font-size: 18px;
}

.nav, nav {
  align-items: center;
  background-color: rgb(42, 172, 169);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 1.722em;
  justify-content: center;
  min-height: 50px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgb(221, 196, 177);
}

.header, header {
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),
    url("/images/photo-1469920783271-4ee08a94d42d.jpg");
  background-size: 100%;
  background-position: center;
  height: 50vh;
}

#logo {
  height: 1.4em;
  width: auto;
}

.task-list-entry media {
min-height: 50vh;
}

.media-body div {
  display: inline-block;
}

.media-body input {
  width: 70%;
}

.single-task {
  min-width: 70%;
}

.task-list {
  width: 50%;
}

footer {
  font-size: 12px;
  text-align: center;
  border-bottom: 3px solid rgb(42, 172, 169);  
}